<div class="header">
    <div class="title">
        <h1>GOLD.</h1>
    </div>
    <div class="user">
        <div class="logIn">
            <i class="fa-solid fa-circle-user"></i> Giriş et
        </div>
        <div class="favorites">
            <!-- <i class="fa-solid fa-heart"></i> -->
            <i class="fa-regular fa-heart"></i>
        </div>
    </div>
</div>

<div class="nav">
    <div class="navItem">Bütün məhsullar</div>
    <div class="navItem">•</div>
    <div class="navItem ">Qızıl</div>
    <div class="navItem">•</div>
    <div class="navItem">Brilyant</div>
    <div class="navItem">•</div>
    <div class="navItem">Gümüş</div>
    <div class="navItem">•</div>
    <div class="navItem">Dəyərli daşlar</div>
</div>

<div class="hero flex-center overflow-hidden">
    <div class="imgContainer">
        <img src="assets/images/heroImg.svg"  alt="heroImg2"/>
    </div>
    <div class="heroText">
        ƏN YAXŞI FÜRSƏTLƏR <span>|</span> İNDİ AL
    </div>
</div>  

<div class="devider"></div>